<%= form_for(@keystore, enctype: 'multipart/form-data') do |f| %>
    <% if keystore.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(keystore.errors.count, "error") %> prohibited this
            keystore from being saved:</h2>
          <ul>
            <% keystore.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label 'App Name' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label 'Keystore File' %>
      <%= f.file_field :file, class: 'form-control-file' %>
    </div>

    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
        <i class="icon-ok icon-white"></i> Save Keystore
    <% end %>

<% end %>
