<%= form_for(keystore, enctype: 'multipart/form-data') do |f| %>
    <% if keystore.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(keystore.errors.count, "error") %> prohibited this
            keystore from being saved:</h2>
          <ul>
            <% keystore.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :file %>
      <%= f.file_field :file %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
