<p id="notice"><%= notice %></p>

<h1>Keystores</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @keystores.each do |keystore| %>
      <tr>
        <td><%= keystore.name %></td>
        <td><%= link_to 'Download', keystore.url %></td>
        <td><%= link_to 'Destroy', keystore, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keystore', new_keystore_path %>
