<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>
    <%= current_user.name %>'s Keystores
  </h1>
  <p>
    Links expire every three minutes due to security precautions.
  </p>
</div>


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="row">App Name</th>
    <th scope="row">Download</th>
    <th scope="row">Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @keystores.each do |keystore| %>
      <tr>
        <td><%= keystore.name %></td>
        <td>
          <%= link_to '<i class="glyphicon glyphicon-download"></i>'.html_safe,
                      get_download_url(keystore.url) %>
        </td>
        <td><%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe,
                        keystore, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-primary">New
Keystore</button>'
                .html_safe, new_keystore_path %>

