<h1>Editing User</h1>

<%= form_for :user, url: '/users' do |f| %>

    <div class="field form-group">
      Name: <%= f.text_field :name, class: 'form-control' %> <br>
    </div>

    <div class="field form-group">
      Password: <%= f.password_field :password, class: 'form-control' %> <br>
    </div>

    <div class="field form-group">
      Password Confirmation: <%= f.password_field :password_confirmation,
                                                  class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= link_to 'Cancel', current_user, class: 'btn btn-primary', style:
          'color:white' %>
      <%= f.submit 'Update!', class: 'btn btn-primary' %>
    </div>
<% end %>


